<div id="form-container"> 
<h1>Sign in to your account</h1>
<form method="post" action="/sessions">
	<input type="text" name="email" placeholder="E-mail address">
	<br><input type="password" name="password" placeholder="Password">
	<br><input type="submit"  class="button" value="Sign in">
</form>
</div>