* {
  box-sizing: border-box;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}


body {
  padding-top: 50px;
  font-family: 'Lato',Helvetica, Arial, Sans-serif;
  background-color: 
  height: 100%;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c506c;
  margin: 10px;
}

em {
  font-weight: 900;
}

/******************** HEADER ********************/
header {  
  padding: 0 20px;
  position:fixed;
  margin:0px;
  top:0px;
  left:0px;
  display: inline-block;
  width:100%;
  height:40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background:#333333;
  background: -moz-linear-gradient(center top , #736F6E, #111111) repeat scroll 0 0 transparent;
}

header #logo {    
  position: relative;
  display: block;
  float: left;
  font-size: 28px;
  line-height: 40px;
  vertical-align: middle;  
  font-family: 'Montserrat Alternates', Sans-serif; 
  font-weight: bold;
}

header #logo a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

header #add-peeps {
  text-align: center;  
  float: right;
  vertical-align: middle;
}

header #user-peeps {
  display: inline-block;
  text-align: center;  
  float: right;

}

header #user-peeps > * {
  display: inline-block;

 }

header #user-peeps #welcome-message {
  font-size: 14px;
  color: white;
  line-height: 40px;
  vertical-align: middle;
}


/******************** HEADER ********************/

/******************** BUTTONS ********************/
.button.highlighted {
  background-color: #ffe5da;
}


.button.highlighted:hover {
  background-color: #bfaba4;
}

.button {
  cursor: pointer;
  display: inline-block;
  line-height: 22px;
  vertical-align: middle;
  text-align: center;
  min-width: 110px;
  height: 28px;
  font-family: 'Lato';
  font-size: 16px;
  background-color: #BEC9D3;
  border: 2.5px solid #2c506c;
  color: #2c506c;
  text-decoration: none; /*no underlining*/
  padding: 1px 10px;
  border-radius: 4px; /*rounded corners*/
  margin: 5px;
}

.button:hover {
  background-color: #8899a6;
}
/******************** BUTTONS ********************/

/******************** NOTICES ********************/
.flash {
  text-align: center;
  margin: 5px auto;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
  color: white;
  width: 90%;
}

.flash.notice{
  background-color: rgba(53,144,92,0.75);
}

.flash.error{
  background-color: rgba(174,64,107,1);
}
/******************** NOTICES ********************/

/******************** PEEPS ********************/
#peeps-container {
  margin: 15px auto;
  max-width: 90%;
  background-color: rgba(196,196,196,0.9);
  border: 1px solid rgba(225, 232, 237, 1);
  border-radius: 6px;
  box-shadow: 0 0 225px rgba(255,255,255,.55);
  overflow: hidden;
}

.peep{
  background-color: rgba(255,255,255,0.9);
  border-top: 1px solid rgba(225, 232, 237, 1);
  max-width: 100%;
  padding: 5px 10px;
  position: relative;
}

.peep a {
  color: rgb(136, 153, 166);
  text-decoration: none;
}

.peep a:hover {
  color: #ae406b;
}

.username {
  font-size: 13px;
  color: rgb(136, 153, 166);
  margin-left: 3px;
}

.fullname a {
  font-size: 16px;
  color: black;
}
.fullname a:hover {
  color: #ae406b;
  text-decoration: underline;
}

.message {
  font-size: 13px;
  margin: 10px 15px;
}

.timestamp {
  float: right;
  font-size: 13px;
  color: rgb(136, 153, 166);
}

/******************** PEEPS ********************/

/******************** FORMS ********************/
#form-container {
  margin: 10px auto;
  max-width: 90%;
  background-color: rgba(196,196,196,0.9);
  border: 1px solid rgba(225, 232, 237, 1);
  border-radius: 6px;
  box-shadow: 0 0 225px rgba(255,255,255,.55);
  overflow: hidden;
}
#form-container a {
  color: #7e1c41;

}

form {
  margin-top: 10px;
  text-align: left;
  padding: 10px 20px;
  background-color: rgba(255,255,255,0.9);
}

  form p {
    margin: 10px 0;
  }

  form input[type="text"], form input[type="password"] {
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 16px;
    width: 90%;
    margin:5px;
    border-radius: 4px;  
  }

form.header {
  padding: 0px;
  margin: 0px;
  background-color: rgba(255,255,255,0);
}
form.header input[type="text"], form.header input[type="password"] {
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 12px;
    width: 110px;
    height: 25px;
    margin:5px; 
    background-color: rgba(255,255,255,0.8);
    border-radius: 4px; 
    padding: 0px;
  }


/******************** FORMS ********************/

/******************** INDEX.ERB ********************/
#signed-in{
  width: 100%;
  display: table;
}

#signed-in-left{
  float:left;
  width: 30%;
}

#signed-in-right{
  float:right;
  width: 70%;

}
/******************** INDEX.ERB ********************/


/******************** FOOTER ********************/
.footer, .push {
  height: 2em;
}
.footer {
background-color: rgba(0,0,0,0.2);
}

footer {
  height: 100%;
  padding: 5px;
  display: flex;
  
}

  footer > * {
    margin: auto inherit;
  }


  footer #jorja-signature {
    -webkit-flex: 1;
    flex: 1;
  }

  footer p {
    float: right;
    line-height: 1em;
    vertical-align: middle;
    padding: 5px 25px;
  }
/******************** FOOTER ********************/




