<% if flash[:notice] %>
  <div class='flash notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:errors] && !flash[:errors].empty? %>
	<ul class='flash error'>
		<% flash[:errors].each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>
